body {
	margin: unset;
}

.blockbutton {
	/* background-color: #e0e0e0; */
	cursor: pointer;
	font-size: small;
	/* align-self: center; */
	/* display: flex; */
	padding: 5px;
	border-radius: 2px;
	color: #000;
	height: 20px;
	/* flex-direction: column;
	align-items: center; */
}

.blockbutton > p {
	margin: 0 auto;
}

/* #hey > div > img {
	margin-right: 5px;
} */

.popuproot {
	background-color: #121212;
	/* width: 300px; */
	padding: 5px;
}
.pophead {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	margin-top: 0px;
	color: white;
}

.title {
	font-size: medium;
	flex: 1;
}

.tabgroupCard {
	min-width: 300px;
	height: 42px;
	line-height: 50px;
	/* border-radius: 2px; */
	display: flex;
	align-items: center;
	margin-bottom: 8px;

	border-radius: 5px;
	/* background: #e0e0e0; */
	box-shadow: 10px 10px 20px #181818, -10px -10px 20px #101010;
}
.tabgroupData {
	flex: 1;
	flex-direction: row;
	align-items: center;
}

.tabgroupName {
	padding-left: 5px;
	font-weight: 400;
	font-size: medium;
}

.trafficLights {
	display: flex;
	flex-direction: row;
}

.trafficButton {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border-width: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 3px;
}
