body {
	margin: unset;
}

.settingsbutton {
	cursor: pointer;
}

.blockbutton {
	cursor: pointer;
	align-self: center;
	padding: 5px;
	background-color: white;
	width: 280px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	user-select: none;
	font-size: large;
	font-weight: 100;
	line-height: 42px;
}

.popuproot {
	background-color: #121212;
	/* width: 300px; */
	padding: 6px;
	padding-bottom: 20px;
}
.pophead {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	margin-top: 0px;
	color: white;
}

.title {
	font-size: medium;
	flex: 1;
}

.bigcard {
	background-color: #85937a;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	color: black;
	margin-bottom: 10px;
}

.bigcardhead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

.totaltgcount {
	font-size: large;
	font-weight: 400;
	padding: 5px 0 5px 0;
}

/* .tabgroupContainer {
	min-width: 300px;
	min-height: 42px;
	margin-bottom: -2px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #181818, -5px -5px 10px #101010;
} */

.tabgroupContainer {
	min-width: 300px;
	min-height: 55px;
	margin-bottom: -13px;
	border-radius: 5px;
	/* background: #e0e0e0; */
	/* box-shadow: 10px 10px 20px #181818, -10px -10px 20px #101010; */
	box-shadow: 2px 2px 5px #181818, -2px -2px 5px #101010;
}

.tabgroupContainer:last-child {
	min-height: 42px;
	/* border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px; */
}

.tabgroupCard {
	line-height: 42px;
	/* border-radius: 2px; */
	display: flex;
	align-items: center;
}
.tabgroupData {
	flex: 1;
	flex-direction: row;
	align-items: center;
	user-select: none;
}

.tabgroupName {
	padding-left: 5px;
	font-weight: 400;
	font-size: medium;
}

.tabgroupCount {
	font-size: small;
	font-weight: 200;
	background-color: #121212;
	/* color: transparent; */
	padding: 3px;
	margin-left: 10px;
	border-radius: 3px;
}

.trafficLights {
	display: flex;
	flex-direction: row;
}

.trafficButton {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border-width: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 3px;
	font-size: smaller;
	font-weight: bold;
}
