.title {
	font-size: large;
	font-weight: bold;
	flex: 1;
	color: #c2c3c7;
	/* font-family: "Courier New", Courier, monospace; */
}

.trafficLights {
	display: flex;
	flex-direction: row;
}

.trafficButton {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border-width: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 3px;
	font-size: smaller;
	font-weight: bold;
}

.iconButton {
	height: 20px;
	border-radius: 5px;
	border-width: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 3px;
	font-size: smaller;
	font-weight: bold;
	padding: 0 5px;
	color: #101010;
}

.trafficicon {
	width: 14px;
	height: 14px;
}

#status {
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	z-index: 100;
	height: 21px;
	line-height: 21px;
	font-size: medium;
	padding: 5px;
	/* background-color: white; */
	/* border: 1px solid black; */
	border-radius: 5px;
	/* visibility: hidden; */
}
