@import url("../../global.css");

#main {
	margin-top: 5vh;
}
body {
	background-color: #35363a;
	color: white;
}
input,
select,
option {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.headerbutton {
	all: unset;
	cursor: pointer;
	/* font-family: "Courier New", Courier, monospace; */
	font-size: large;
	margin-top: 10px;
}

#settingsmain {
	width: 45vw;
	/* height: 570px; */
	margin: 0 auto;
	/* border: 15px #00d282 solid; */
	font-size: medium;
	padding: 40px;
	background-color: #0d0d0d;
	border-radius: 5px;
}
@media all and (max-width: 1367px) {
	#settingsmain {
		width: 60vw;
		font-size: medium;
	}
}
#settingsmain > p {
	font-size: 14px;
	color: #a5a4a4;
	margin-top: 5px;
}

#settingsheader {
	display: flex;
	flex-direction: row;
	opacity: 0.8;
}
/* styles for each line of option */
.oneoptioncontainer {
	display: flex;
	align-items: center;
}

.oneoptioncontainer > select {
	border-radius: 2px;
	font-size: medium;
	padding: 5px;
	background-color: inherit;
	color: inherit;
}
#maximum {
	border-radius: 3px;
	border: 1px solid white;
	padding: 5px;
	background-color: transparent;
	color: inherit;
}

#langtext {
	/* flex: 1; */
	margin-right: 20px;
	font-weight: 500;
}
#language {
	font-size: 18px;
	margin-left: 5px;
	width: 250px;
}

#logocontainer {
	display: flex;
	flex-direction: column;
	flex: 1;
}
#logocontainer {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}
.promocontainer {
	display: flex;
	flex-direction: column;
}
.promocontainer > p {
	margin: unset;
	font-size: 20px;
	padding: 2px 0px 2px 0px;
}
#title {
	margin-left: 20px;
	color: #fff;
	font-size: 30px;
	margin-top: 25px;
}
#subtitle {
	margin-left: 20px;
	color: #fff;
	font-size: 18px;
	margin-top: 5px;
}
input[type="checkbox"] {
	transform: scale(1.5);
	margin-right: 10px;
	margin-left: 5px;
}

#popuptext,
#alttext {
	margin-top: 10px;
	font-weight: 500;
}

#myBtn,
#blockBtn {
	border: none;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 2px;
	margin-top: 10px;
}

#myBtn {
	width: 30%;
	background-color: #e5e5e5;
	/* border-bottom: 2px solid #d1c4e9; */
}

#blockBtn {
	width: 30%;
	margin-left: 5%;
	background-color: #e5e5e5;
	/* border-bottom: 2px solid #ffccbc; */
}

#save {
	font-size: 20px;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	background-color: #7bc379;
	color: black;
	padding: 10px;
	margin-top: 20px;
	width: 65%;
	/* border-bottom: 2px solid grey; */
}

#deepfooter {
	bottom: 5px;
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 18px;
}

/* modal related */

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	/* padding-top: 10vh; Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: scroll; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #121212;
	color: #c2c3c7;
	margin: auto;
	padding: 10px;
	width: 50rem;
}

.block-modal-content {
	background-color: #121212;
	margin: auto;
	color: #c2c3c7;
	padding: 10px;
	width: 50rem;
	/* overflow: scroll; */
}

#ruleinputcontainer,
#ruleheader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

#addbutton,
#blockaddbutton {
	font-size: medium;
	border: 0;
	background-color: #121212;
	color: white;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 5px;
	min-height: 42px;
	border-radius: 2px;
}

.inputblock {
	display: flex;
	flex-direction: column;
}

.inputblock > input[type="text"] {
	min-height: 42px;
	font-size: medium;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 5px;
	color: #c2c3c7;
}
.inputblock > input[type="text"]::placeholder {
	color: #616161;
}

.inputblock > input[type="checkbox"] {
	min-height: 42px;
	margin-left: 67%;
	margin-bottom: 33%;
}

.inputblock > input > option {
	height: 42px;
	font-size: medium;
}

#colormodifier {
	min-height: 42px;
	font-size: medium;
	background-color: transparent;
	border: unset;
	/* border-radius: 2px; */
	/* color: #fff; */
}

#colors {
	min-height: 42px;
	font-size: medium;
	background-color: transparent;
	border: 1px solid #121212;
	border-radius: 2px;
	color: #fff;
}

.inputblock > label {
	font-size: smaller;
}

.inputGap {
	margin: 10px;
}
.inputGap > span {
	line-height: 42px;
}

#rulescontainer {
	/* overflow: scroll; */
}

.rulecard,
.blockcard {
	height: 42px;
	line-height: 42px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	/* color: #fff; */
	flex: 1;
	background-color: #c2c3c7;
	margin-bottom: 5px;
	font-size: medium;
	padding: 0 5px;
}

.rulecard {
	color: #000;
}

.blockcard {
	color: #000;
}

.blockcard:nth-child(even) {
	background-color: #242424;
	color: #fff;
}

.blockcardDetails {
	flex: 1;
	display: flex;
	align-items: center;
}

.rulecard input[type="text"] {
	background-color: inherit;
	border: unset;
	font-size: medium;
}

.blockcard input[type="text"] {
	background-color: inherit;
	border: unset;
	font-size: medium;
}

/* modal styles end  */

.headercontainer {
	display: flex;
	flex-direction: column;
	background-color: #242424;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 5px;
}

.pophead {
	display: flex;
	/* justify-content: space-around; */
	margin-top: 0px;
	color: white;
	padding: 10px 0 10px 0;
}

.trafficSpan {
	display: flex;
	flex-direction: row;
}
